rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // السماح بالقراءة والكتابة الكاملة لجميع المجموعات (المستخدمين، الإشعارات، كروت الدعم، الحصص المباشرة، الاختبارات، الخ)
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
